body h1, body form {
    width: max-content;
    margin: auto;
}
body p {
    text-align: center;
}
body .btn {
    width: 200px;
}
.shrt {
    color: blue;
}
.head-txt {
    color: green;
}

table tr td {
    width: 300px;
    border: 1px solid red;
}
table{
    margin: auto;
}